.header__logo {
    width: 142.01px;
    height: 33.4px;
    object-fit: contain;
    padding-bottom: 36px;
}

@media screen and (min-width: 426px) and (max-width: 1024px) {
    .header__logo {
        padding-bottom: 25px;
        padding-left:48px;
    }
}

@media screen and (max-width: 426px) {
    .header__logo {
        width: 103.74px;
        height: 24.4px;
        padding-bottom: 25px;
        padding-left: 24px;
    }
}