.popup__container {
    padding: 0 36px;
    position: relative;
    color: #000;
    max-width: 430px;
    max-height: 330px;
    background-color: #fff;
    border-radius: 10px;
}

@media screen and (max-width: 570px) {
    .popup__container {
        max-width: 282px;
        max-height: 322px;
        padding: 25px 22px 0 22px;


    }
}