.profile__edit-button {
    cursor: pointer;
    background-image: url(../../../images/icons/Edit-Button1.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    border: 1px solid #fff;
    min-width: 24px;
    min-height: 24px;
    align-self: center;
    padding: 0;
    margin-left: 17px;
    transition: opacity 0.3s;
    outline: none;
}

.profile__edit-button:hover {
    opacity: .6;
}


@media screen and (max-width: 426px) {
    .profile__edit-button {

        align-self: center;
        margin-left: 10px;
        background-size: 18px;
        border: none;

    }
}