.popup__close {
    width: 32px;
    height: 32px;
    border: none;
    background-position: center;
    background-image: url(../../../images/icons/Close-Icon.svg);
    position: absolute;
    background-color: transparent;
    cursor: pointer;
    background-size: 35px 35px;
    top: -36px;
    right: -39px;
    outline: none;
    transition: opacity 0.3s;
    padding: 0;
}

.popup__close:hover {
    opacity: .6;
}

@media screen and (max-width: 570px) {
    .popup__close {
        top: -33px;
        right: 0;
        width: 20px;
        height: 20px;
        background-size: 20px 20px;



    }
}