.profile__info {
    max-width: 336px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 32px;

}


@media screen and (min-width: 426px) and (max-width: 768px) {
    .profile__info {
        width: 95%;
        margin-left: 5px;

    }
}
    @media screen and (max-width: 426px) {
        .profile__info {
            align-items: center;
            margin: 0 auto;
        }
    }