 .element__trash {
    position: absolute;
    top: 23px;
    right: 19px;
    background-image: url('../../../images/icons/Trash.svg');
    width: 18px;
    height: 19px;
    background-size: cover;
    background-color: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
    transition: opacity 0.3s linear; 
    color:#fff;  
 }



.element__trash:hover {
    opacity: .5;
}

