.popup__title {
    font-size: 24px;
    line-height: 29px;
    font-weight: 900;
    white-space: nowrap;
    margin: 0;
    padding: 20px 0 49px;
}

@media screen and (max-width: 570px) {
    .popup__title {
        font-size: 18px;
        line-height: 21px;
        padding: 0 0 75px;
    }
}